*{
    margin: 0;
    padding: 0;
}

.sayt
{
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    margin: 20px auto;
}

.navbar 
{
    height: 100px;
}

.header
{
    height:500px;
}
